body {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  min-height: 100vh;
}
     
main {
  flex: 1;
}

li{
  margin-left: 190px;
}

     
footer {
        display: flex;  /* allows use of "justify-content" property */
        justify-content: center;  /* horizontally centers the contents (the social icons) */
        background-color: rgb(255, 137, 245);
        height: 100px;
        padding: 20px;
      }

      header {
          align-items: center;
         }

    .centre {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

      footer a {
        margin: 5px;
        text-decoration: none!important;
      }

    .social-icon {
        display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
        width: 40px;
        height: 40px;
        color: rgb(255, 137, 245);
        background-color: white;
        justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
        align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
        border-radius: 50%;  /* makes it round (circle if width and height are the same) */
      }

      .social-icon:hover {
        color: #222;  /* change color when hover over the link */
      }

      #go-top-button {
        width: 50px;
        height: 50px;
        display: none;  /* Hidden by default */
        position: fixed;  /* Fixed/sticky position */
        bottom: 20px;  /* Place the button 20px from the bottom of the page */
        right: 30px;  /* Place the button 30px from the right */
        z-index: 99;  /* Make sure it does not overlap */
        border-radius: 50%;  /* makes it round (circle if width and height are the same) */
        background-color: lavender ;
        border: black;
        color:rgb(255, 137, 245);
    }
      
    
    h2 {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      text-align: center;
      background-color: lightblue;
      margin-top: 10px;
    }