body {
  display: flex;  /* setting "display: flex" allows its children (e.g. "main" below) to use the "flex" property */
  flex-direction: column;
  padding-top: 15px;  /* allow enough space for a fixed navbar (56px is the height of the navbar here) */
  min-height: 100vh;  /* i.e minimum width is 100% of the "viewport height"... i.e the full screen height */
}
main {
  flex: 1;  /* makes the <main> grow (we want it to grow so that it pushes <footer> to the bottom of page)*/
}



navbar {
    color:rgb(255, 137, 245);
      }
      footer {
        display: flex;  /* allows use of "justify-content" property */
        justify-content: center;  /* horizontally centers the contents (the social icons) */
        background-color: rgb(255, 137, 245);
        height: 100px;
        padding: 20px;
      }
      header {
        align-items: center;
         }

    .centre {
      display:block;
      margin-left: auto;
      margin-right: auto;
      width: 8%;
    }
      footer a {
        margin: 5px;
        text-decoration: none!important;
      }
    .social-icon {
        display: inline-flex;  /* allows use of "justify-content" and "align-items" properties */
        width: 40px;
        height: 40px;
        color: rgb(255, 137, 245);
        background-color: white;
        justify-content: center;  /* horizontally centers the contents (the FontAwesome icon) */
        align-items: center;  /* vertically centers the contents (the FontAwesome icon) */
        border-radius: 50%;  /* makes it round (circle if width and height are the same) */
      }
      .social-icon:hover {
        color: #222;  /* change color when hover over the link */
      }
      #go-top-button {
        width: 50px;
        height: 50px;
        display: none;  /* Hidden by default */
        position: fixed;  /* Fixed/sticky position */
        bottom: 20px;  /* Place the button 20px from the bottom of the page */
        right: 30px;  /* Place the button 30px from the right */
        z-index: 99;  /* Make sure it does not overlap */
        border-radius: 50%;  /* makes it round (circle if width and height are the same) */
        background-color: lavender ;
        border: black;
        color:rgb(255, 137, 245);
      }

      h2 {
        padding-top: 20px;
        padding-bottom: 20px;
        align-content: center;
      }

      p {
        margin-left: 100px;
        background-color: palegreen;
        padding-top: 20px;
        padding-right: 40px;
        padding-bottom: 20px;
        padding-left: 40px;
        margin-left: 120px;
        margin-right: 120px;
      }
